[Desktop Entry]
Version=1.0
Name=Sentinel
Comment=Sentinel Program
Exec=bash -c "~/sentinel/run"
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Utility;Application;
